<div class="row" style="background-color: rgb(5, 5, 17);">
    <div class="col-md-1">

    </div>



    <div class="col-md-10">

        <br>
        <!-- search box  row -->
        <form class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <div class="d-flex justify-content-end">
                        <span class="text-secondary text-lg">Search : </span>
                    </div>
                </div>
                <div class="col-md-8">
                    <input class="form-control input-lg" type="search" placeholder="Search by team name..">
                </div>
                <div class="col-md-2">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary " type="submit"><i
                                class="bi bi-sort-down-alt"></i>Sort&#8203;</button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <!-- cardlist -->
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/team2.jpg" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/team2.jpg" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/userpic.png" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!-- cardlist -->
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/team2.jpg" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/team2.jpg" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/userpic.png" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <!-- cardlist -->
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/userpic.png" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/team2.jpg" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <div class="card " style="width: 18rem;background-color: rgb(25, 25, 35);">
                        <br>
                        <img class="rounded mx-auto d-block" src="assets/img/userpic.png" width="80%" height="80%"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-white"><b>Team Antaryami Esports(4)</b></p>
                            <span class=".text-muted" style="color: rgb(71, 71, 79);"><b>Game:PUBG Mobile</b></span>
                            <h6 style="color: rgb(71, 71, 79);"><i class="bi bi-globe .text-muted"
                                    style="color: rgb(25, 151, 235);"></i> India</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <br>
                <div class="d-flex justify-content-center">
                    <nav>
                        <ul class="pagination font-weight-bold">
                            <li class="page-item"><a class="ml-2 mr-2 text-secondary" href="#"><i
                                        class="bi bi-arrow-left-square"></i></a></li>
                            <li class="page-item"><a class="ml-2 mr-2 text-secondary" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link ml-2 mr-2 text-info" href="#">1</a></li>
                            <li class="page-item"><a class="ml-2 mr-2 text-white" href="#">2</a></li>
                            <li class="page-item"><a class="ml-2 mr-2 text-white" href="#">3</a></li>
                            <li class="page-item"><a class="ml-2 mr-2 text-white" href="#">4</a></li>
                            <li class="page-item"><a class="ml-2 mr-2 text-white" href="#">5</a></li>
                            <li class="disabled ml-2 mr-2 text-white"> ..</li>
                            <li class="page-item"><a class="ml-2 mr-2 text-white" href="#">30</a></li>
                        </ul>
                    </nav>
                </div>



                <br />




                <div class="row">
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center">

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="d-flex justify-content-center">
                            <span style="font-size: 250%;"> <a href="https://www.twitter.com"><i
                                        class="fa fa-twitter  text-info"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center">
                            <span style="font-size: 250%;"> <a href="https://www.facebook.com"><i
                                        class="fa fa-facebook  text-info"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center">
                            <span style="font-size: 250%;"> <a href="https://www.linkedin.com/"><i
                                        class="fa fa-linkedin  text-info"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center">
                            <span style="font-size: 250%;"><a href="https://telegram.me/tarmanau"> <i
                                        class="fa fa-telegram  text-info"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex justify-content-center">

                        </div>
                    </div>
                </div>



                <hr class="bg-white ">


            </div>
            <div class="col-md-2">

            </div>
        </div> -->

        <!-- <div class="container">
                    <div class="col item social"><a href="https://www.facebook.com"><i
                                class="fa fa-facebook text-info " style="font-size: 50px;"></i></a>
                               
                                <a href="https://www.twitter.com"><i class="fa fa-social-twitter text-info"
                                style="font-size: 50px;"></i></a>
                                
                                <a href="https://www.linkedin.com/"><i
                                class="fa fa-social-linkedin text-info" style="font-size: 50px;"></i></a>
                               
                                <a  href="https://www.instagram.com"><i class="fa fa-instagram text-info Avatar Avatar-white"
                                style="font-size: 50px;"></i></a></div>
        
                <!-- fotter -->
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <h3 class="text-info">Contact</h3>


                </div>
                <div class="d-flex justify-content-center">
                    <p class="text-secondary"><b>Live Chat</b></p>

                </div>
                <div class="d-flex justify-content-center">

                    <p class="text-secondary">Email:<a class="text-secondary"
                            href="mailTo:Support@wagergames.io"><b>Support@wagergames.io</b></a></p>
                </div>
            </div>
            <div class="col-md-4">

                <div class="d-flex justify-content-center">
                    <h3 class="text-info"><b>About</b></h3>


                </div>
                <div class="d-flex justify-content-center">
                    <p class="text-secondary"><b>Company List</b></p>

                </div>
                <div class="d-flex justify-content-center">

                    <p class="text-secondary"><b>your brand</b></p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <h3 class="text-info">Help</h3>


                </div>
                <div class="d-flex justify-content-center">
                    <p class="text-secondary"><b>Terms & Conditions</b></p>

                </div>
                <div class="d-flex justify-content-center">

                    <p class="text-secondary"><b>Privacy Policy Feed Back</b></p>
                </div>
            </div>
        </div>
        <hr class="one">

        <div class="d-flex justify-content-center">
            <p class="text-secondary"><b>Copyright &#169; Wager Games.All right reserved</b></p>
        </div>

    </div>




    <div class="col-md-1">

    </div>
</div>