<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(13, 13, 23);">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-dark" style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active text-secondary" aria-current="page" href="#">Tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-secondary" aria-current="page" href="#">Market Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-secondary" aria-current="page" href="#">How It Works?</a>
                </li>
            </ul>

        </div>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
            <li class="nav-item">
                <a style="font-size: 30px;" class="nav-link" href="#"><i class="bi bi-bell-fill text-secondary"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
                <img src="assets/img/userpic.png" alt="Avatar" class="avatar">
                <!-- src\assets\img\userpic.png -->
            </li>
        </ul>
    </div>
</nav>